@use "global" as *;

.hamburger span {
  position: absolute;
  width: inherit;
  height: rem(1);
  background-color: $white;
  transition: all 0.3s;
}

.hamburger span:nth-child(1) {
  top: 0%;
}
.hamburger span:nth-child(2) {
  top: 50%;
  opacity: 1;
}
.hamburger span:nth-child(3) {
  top: 100%;
}

.hamburger.is-show span:nth-child(1) {
  top: 50%;
  transform: rotate(36.87deg);
}
.hamburger.is-show span:nth-child(2) {
  top: 50%;
  opacity: 0;
}
.hamburger.is-show span:nth-child(3) {
  top: 50%;
  transform: rotate(-36.87deg);
}
