@use "global" as *;

.header {
  background: rgba(13, 41, 54, 0.68);
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(15);
  @include mq("md") {
    padding-left: rem(40);
    padding-right: rem(20);
  }
}

.header__drawer {
  position: relative;
  width: rem(32);
  height: rem(24);
  z-index: 100;
  @include mq("md") {
    display: none;
  }
}

.header__sp-nav {
  position: absolute;
  top: rem(79);
  left: 0;
  width: 100%;
  height: 100vh;
  background: $accent-color;
  z-index: 2;
  display: none;
  overflow: auto;
  padding-top: 0;
  padding-bottom: rem(100);
  padding-left: rem(15);
  padding-right: rem(15);
}

.header__sp-nav.is-active {
  display: block;
}

.header__pc-nav {
  height: inherit;
  display: none;
  @include mq("md") {
    display: block;
  }
}

.header__logo {
  width: rem(102);
  z-index: 3;
  @include mq("md") {
    width: rem(133);
  }
}

.header__logoLink:hover {
  transition: opacity 0.5s;
  opacity: 0.7;
}
