@use "global" as *;

.information {
  padding: rem(80) 0;
  @include mq("md") {
    padding: rem(99) 0;
  }
}

.information__media {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(35);
  }
}
