@use "global" as *;

.information-card {
  @include mq("md") {
    display: flex;
    gap: 4.5%;
    align-items: center;
  }
}

.information-card__img {
  @include mq("md") {
    width: 50%;
  }
}

.information-card__img img {
  width: 100%;
  aspect-ratio: 345/227;
  object-fit: cover;
}

.information-card__body {
  margin-top: rem(24);
  @include mq("md") {
    width: 47.5%;
    margin-top: 0;
  }
}

.information-card__title {
  font-size: rem(20);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: 1.2;
  position: relative;
  color: $text-color;
  @include mq("md") {
    font-size: rem(24);
    line-height: 1;
  }
}

.information-card__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: $accent-color;
  top: rem(28);
  @include mq("md") {
    top: rem(32);
  }
}

.information-card__text {
  margin-top: rem(8);
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  color: $text-color;
  @include mq("md") {
    margin-top: rem(16);
  }
}

.information-card__button {
  text-align: center;
  margin-top: rem(43);
}

.information-card__body--mt {
  margin-top: 0;
}

.information-card__img--mt {
  margin-top: rem(8);
  @include mq('md') {
  margin-top: 0;
  }
}