@use "global" as *;

.js-slide-animation {
  position: relative;
}

.js-slide-animation__color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $accent-color;
}

.js-slide-animation img {
  display: block;
  width: 100%;
}
