@use "global" as *;

.nav__container {
  display: flex;
  justify-content: center;
}

.nav__items {
  @include mq("md") {
    width: 100%;
  }
}

.nav__item {
  width: 100%;
  transition: opacity 0.3s;
}

.nav__item:hover {
  opacity: 0.7;
}

.nav__item a {
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
}

.nav__menu {
  color: $white;
  font-weight: $bold;
  font-size: rem(16);
  line-height: 1.125;
  font-family: $base-font-family;
  display: block;
  margin-top: rem(16);
  position: relative;
}

.nav__menu--margin-top {
  @include mq("md") {
    margin-top: 0;
  }
}

.nav__menu::before {
  background: url(../images/common/starfish.png);
  background-position: center;
  background-size: contain;
  content: "";
  position: absolute;
  width: rem(18);
  height: rem(18);
  top: rem(12);
  left: 0;
}

.nav__submenu {
  color: $white;
  font-weight: $regular;
  font-size: rem(16);
  line-height: 1.125;
  font-family: $base-font-family;
  display: block;
  top: 0;
  left: 0;
}

.nav__list {
  width: 50%;
  @include mq("md") {
    display: flex;
    margin-left: 0;
    gap: rem(40);
  }
}

.nav__menu--sitemap {
  color: $text-color;
}

.nav__submenu--sitemap {
  color: $text-color;
}


.nav__menu--sitemap::before {
  background: url(../images/common/sitemap-starfish.png);
  background-position: center;
  background-size: contain;
  content: "";
  position: absolute;
  width: rem(18);
  height: rem(18);
  top: rem(12);
  left: 0;
}