@use "global" as *;

.section-header__engtitle {
  font-size: rem(32);
  font-family: $english-font-family;
  font-weight: $regular;
  line-height: 1.25;
  text-align: center;
  color: $text-color;
  @include mq("md") {
    font-size: rem(40);
  }
}

.section-header__engtitle::first-letter {
  color: $accent-color;
  text-transform: uppercase;
}

.section-header__engtitle--large {
  font-size: rem(80);
  line-height: 1;
  @include mq("md") {
    font-size: rem(80);
    line-height: 1;
  }
}

.section-header__jptitle {
  font-size: rem(12);
  font-weight: $regular;
  color: $accent-color;
  line-height: 1.5;
  margin-top: rem(4);
  text-align: center;
  @include mq("md") {
    margin-top: rem(5);
  }
}

.section-header__jptitle--mt {
  margin-top: rem(-10);
  @include mq("md") {
    margin-top: rem(-10);
  }
}

.section-header__engtitle--white,
.section-header__jptitle--white,
.section-header__engtitle--white::first-letter {
  @include mq("md") {
    color: $white;
  }
}
