@use "global" as *;

.sub-mv {
  position: relative;
  height: rem(460);
  @include mq('md') {
  height: rem(548);
  }
}

.sub-mv__header {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  color: $white;
  text-align: center;
  z-index: 2;
  @include mq('md') {
  top: 60%;
  }
}

.sub-mv__title {
  font-size: rem(40);
  font-weight: $regular;
  font-family: $lato-font-family;
  line-height: 1.25;
  @include mq('md') {
  font-size: rem(80);
  }
}

.sub-mv__title {
  text-transform: capitalize;
}

.sub-mv__img {
  height: inherit;
}


.sub-mv__img img {
  filter: none;
  height: 100%;
  object-fit: cover;
}

.sub-mv__title--uppercase {
  text-transform: uppercase;
}

.sub-mv__title--sitemap {
  text-transform: uppercase;
}

.sub-mv__title--lowercase {
  text-transform: lowercase;
}