@use "global" as *;

.voice__inner {
  @include mq("md") {
    position: relative;
  }
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    display: block;
    background: url(../images/common/voice-bg_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: rem(301);
    height: rem(138);
    top: -18%;
    left: calc(50% - min(48.5vw, rem(621)));
    z-index: 1;
  }
}

.voice__inner::after {
  @include mq("md") {
    content: "";
    display: block;
    background: url(../images/common/voice-bg_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: rem(71);
    height: rem(162);
    bottom: rem(-71);
    right: rem(25);
    z-index: 1;
  }
}

.voice__items {
  margin-top: rem(43);
  @include mq("md") {
    margin-top: rem(27);
  }
}

.voice__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
