@use "global" as *;

.wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(12);
}

.wp-pagenavi span, .wp-pagenavi a{
  width: rem(36);
  height: rem(36);
  border: 1px solid $accent-color;
  font-size: rem(16);
  font-weight: 700;
  font-family: $lato-font-family;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  transition: color .2s,background-color .2s;
}


.wp-pagenavi a:hover {
  color: $white;
  background-color: $accent-color;
}

.wp-pagenavi span.current {
  color: $white;
  background-color: $accent-color;
}

.previouspostslink {
  width: rem(36);
  height: rem(36);
  border: 1px solid $accent-color;
  margin-right: rem(28);
  position: relative;
  transition: all .2s;
}

.nextpostslink {
  width: rem(36);
  height: rem(36);
  border: 1px solid $accent-color;
  margin-left: rem(28);
  position: relative;
  transition: all .2s;
}

.pagination__prev {
  width: rem(36);
  height: rem(36);
  border: 1px solid $accent-color;
  margin-right: rem(28);
  position: relative;
  transition: all .2s;
}

.pagination__prev::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-left: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%)  rotate(45deg);
  transition: all .2s;
}

.pagination__prev:hover::after {
  border-left: 1px solid $white;
  border-bottom: 1px solid $white;
}

.pagination__prev:hover {
  background-color: $accent-color;
}


.pagination__next {
  width: rem(36);
  height: rem(36);
  border: 1px solid $accent-color;
  margin-left: rem(28);
  position: relative;
  transition: all .2s;
}

.pagination__next::after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 1px solid $accent-color;
  border-right: 1px solid $accent-color;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%)  rotate(45deg);
  transition: all .2s;
}


.pagination__next:hover::after {
  border-top: 1px solid $white;
  border-right: 1px solid $white;
}

.pagination__next:hover {
  background-color: $accent-color;
}